**Regular Expressions - Metacharachters**

In [30]:
#importing regular expression library 
import re 
# re = regular expression

**a) re.match()**

In [31]:


#using re.match 
#to find the first occurrence of the letter 'I' in the string 
 
sentence1 = re.match (r'I', 'I am learning text analytics') 
print (sentence1)

<re.Match object; span=(0, 1), match='I'>

In [4]:
#using re.match 
#to find the first occurrence of the letter 'v' in the string 
 
sentence2 = re.match (r'v', 'I am learning text analytics') 
print (sentence2)

None

In [5]:
#using re.match 
#to find the first occurrence of the letter 'am' in the string 
 
sentence3 = re.match (r'am', 'I am learning text analytics') 
print (sentence3)

None

**b) re.search()**

In [7]:
sentence4 = re.search(r'am', 'I am learning text analytics') 
print (sentence4)

<re.Match object; span=(2, 4), match='am'>

In [8]:
sentence5 = re.search(r'am', 'I am learning text analytics and am enjoying it')  
print (sentence5)  
# cannot find second am, only can find the first

<re.Match object; span=(2, 4), match='am'>

**c) re.findall()**

In [9]:
sentence6 = re.findall(r'am', 'I am learning text analytics and am enjoying it')  
print (sentence6)  

# find all am in the string

['am', 'am']

**d) re.split**

In [10]:
sentence7 = re.split(r'and', 'I am learning text analytics and am enjoying it')  
print (sentence7)

['I am learning text analytics ', ' am enjoying it']

In [11]:
sentence8 = re.split(r'am', 'I am learning text analytics and am enjoying it')  
print (sentence8)

['I ', ' learning text analytics and ', ' enjoying it']

In [12]:
sentence9 = re.split(r'am', 'I am learning text analytics and am enjoying it', maxsplit=1) 
print (sentence9)  

# maxsplit acts as a limiter, limited to 1

['I ', ' learning text analytics and am enjoying it']

In [13]:
sentence9 = re.split(r'am', 'I am learning text analytics and am enjoying it', maxsplit=2) 
print (sentence9)  

# limited to 2

['I ', ' learning text analytics and ', ' enjoying it']

In [14]:
sentence10 = re.split(r'am', 'I am learning text analytics, I am enjoying it and I am going to ace it', maxsplit=3) 
print (sentence10)  

# limited to 3

['I ', ' learning text analytics, I ', ' enjoying it and I ', ' going to ace it']

**e) re.sub**

In [15]:
sentence11 = re.sub(r'I', 'we', 'I like text analytics and I enjoy learning it') 
print (sentence11)  

# substituting words

we like text analytics and we enjoy learning it

**Using metacharacters**  
**a) Metacharacter .**

In [16]:
sentence1 = re.findall (r'.', 'I am learning text analytics') 
print (sentence1) 
 
# Each letter is selected including spaces

['I', ' ', 'a', 'm', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 't', 'e', 'x', 't', ' ', 'a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

**b) Metacharacter \w**

In [18]:
sentence2 = re.findall (r'\w', 'I am learning text analytics') 
print (sentence2) 
 
# Each letter is selected excluding spaces

['I', 'a', 'm', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', 't', 'e', 'x', 't', 'a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

**c) Metacharacter \w***

In [19]:
sentence3 = re.findall (r'\w*', 'I am learning text analytics') 
print (sentence3) 
 
# Each word is selected including spaces

['I', '', 'am', '', 'learning', '', 'text', '', 'analytics', '']

**d) Metacharacter \w+**

In [20]:
sentence4 = re.findall (r'\w+', 'I am learning text analytics') 
print (sentence4) 
 
# Each word is selected excluding spaces

['I', 'am', 'learning', 'text', 'analytics']

**e) Metacharacter ^\w+**

In [21]:
sentence5 = re.findall (r'^\w+', 'I am learning text analytics') 
print (sentence5) 
 
# First word is selected  
# ^ means not

['I']

**f) Metacharacter \w+$**

In [22]:
sentence6 = re.findall (r'\w+$', 'I am learning text analytics') 
print (sentence6) 
 
# Last word is selected

['analytics']

**g) Metacharacter \w\w**

In [23]:
sentence7 = re.findall(r'\w\w', 'I am learning text analytics')
print(sentence7)
# Find two consecutive characters

['am', 'le', 'ar', 'ni', 'ng', 'te', 'xt', 'an', 'al', 'yt', 'ic']

**h) Metacharacter \b\w\w**

In [24]:
sentence8 = re.findall(r'\b\w\w', 'I am learning text analytics')
print(sentence8)
# Find two consecutive characters at word boundaries

['am', 'le', 'te', 'an']

**Extracting the domain type of email address**

In [25]:
# Extract the domain names (excluding top-level domain) from email addresses
sentence9 = re.findall(r'@\w+', 'user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print(sentence9)

['@text', '@analytics', '@textanalytics']

In [26]:
# Extract the full domain names (including top-level domain) from email addresses
sentence10 = re.findall(r'@\w+.\w+', 'user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print(sentence10)

['@text.com', '@analytics.gov', '@textanalytics.edu']

In [27]:
# Extract the full domain names (including top-level domain) from email addresses
sentence11 = re.findall(r'@\w+.\w+.\w+', 'user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print(sentence11)

['@text.com.my', '@analytics.gov.my', '@textanalytics.edu.my']

In [28]:
# Extract the type of domain from email addresses
sentence12 = re.findall(r'@\w+\.(\w+.\w+)', 'user@text.com.my, user@analytics.gov.my, u')
print(sentence12)

['com.my', 'gov.my']

**Extracting date**

In [33]:
# Extract dates in the format dd-mm-yy
sentence13 = re.findall(r'\d{2}-\d{2}-\d{2}', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print(sentence13)

['15-05-20', '20-08-20']

In [34]:
# Extract dates in the format dd-mm-yyyy
sentence14 = re.findall(r'\d{2}-\d{2}-\d{4}', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print(sentence14)

['15-05-2001', '20-08-2000']

In [66]:
# Extract only the years
sentence15 = re.findall(r'\d{2}-\d{2}-(\d{4})', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print(sentence15)

['2001', '2000']

In [ ]:
from datetime import datetime

# Extract dates in the format dd-mm-yyyy
sentence16 = re.findall(r'\d{2}-\d{2}-\d{4}', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
formatted_dates = [datetime.strptime(match, %d-%m-%y).strftime
print(sentence16)

**Selecting words that start with vowels in a string**

In [36]:
sentence16 = re.findall(r'[aeiouAEIOU]\w+', 'I have eight story books. I often read them in afternoon')
print(sentence16)  # Output:

['ave', 'eight', 'ory', 'ooks', 'often', 'ead', 'em', 'in', 'afternoon']

In [54]:
sentence17 = re.findall(r'\b[aeiouAEIOU]\w+', 'I have eight story books. I often read them in afternoon')
print(sentence17)

['eight', 'often', 'in', 'afternoon']

In [38]:
sentence18 = re.findall(r'\b[^aeiouAEIOU\s]\w+', 'I have eight story books. I often read them in afternoon')
print(sentence18)

['have', 'story', 'books', 'read', 'them']

**Splitting a string with multiple delimiters**

In [39]:
sentence19 = re.split(r'[;,]', 'I have many story books, colouring books; I often read them in the afternoon.')
print(sentence19)

['I have many story books', ' colouring books', ' I often read them in the afternoon.']

In [40]:
sentence20 = re.split(r'[;,\s]', 'I have many story books, colouring books; I often read them in the afternoon.')
print(sentence20)

['I', 'have', 'many', 'story', 'books', '', 'colouring', 'books', '', 'I', 'often', 'read', 'them', 'in', 'the', 'afternoon.']

**Substituting delimiters**

In [41]:
sentence21 = re.sub(r'[;,]', '.', 'I have many story books, colouring books; I often read them in the afternoon.')
print(sentence21)  # Output: I have many story books. I have many colouring books. I often read them in the afternoon.

I have many story books. colouring books. I often read them in the afternoon.

2

'AUTHORS:  \nAmy Baker, Finance Chair, x345, abaker@ourcompany.com  \nChris Donaldson, Accounting Dir., x621, cdonaldson@ourcompany.com  \nErin Freeman, Sr. VP, x879, efreeman@ourcompany.com  '